 .container {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    margin-top: 90px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
    background-attachment: #f5f5f5;
}

.table-header {
     padding: 5px;
}

.table-header-row {
    font-weight: bold;
    font-size: 18px;
}

.table-cell {
    padding: 15px;
    border-bottom: 1px solid #ddd; /* Only horizontal lines */
}

.table-row.odd {
    background-color: #ffffff;
}

.table-row.even {
    background-color: #f5f5f5;
}

.no-data {
    text-align: center;
    font-style: italic;
}

.profile-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.loading {
    text-align: center;
    font-style: italic;
}
